name: RDP-Windows-Public

on:
  workflow_dispatch:
    inputs:
      dynamic_chat_id:
        required: true
      runner_secret:
        required: true
      worker_url:
        required: true
      language:
        required: true
        default: 'en'

jobs:
  rdp-win:
    runs-on: windows-latest
    timeout-minutes: 360
    env:
      PYTHONIOENCODING: utf-8
    steps:
      - name: Masking Secrets
        env:
          MASK_RUNNER_SECRET: ${{ github.event.inputs.runner_secret }}
        run: |
          echo "::add-mask::$MASK_RUNNER_SECRET"
        shell: bash

      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python libs
        run: pip install psutil requests

      - name: Install RustDesk
        shell: powershell
        run: |
          $ErrorActionPreference = 'Stop'
          choco install rustdesk -y --no-progress

      - name: Run Controller
        env:
          TG_CHATID: ${{ github.event.inputs.dynamic_chat_id }}
          WORKER_URL: ${{ github.event.inputs.worker_url }}
          USER_LANG: ${{ github.event.inputs.language }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          SESSION_SECRET: ${{ github.event.inputs.runner_secret }}
        run: python bot_master.py
